#nav-contain {
  float: left;
  width: 100%;
  position: relative;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  width: 100%;
}
#nav-bar ul li {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  display: block;
}
h1 h2 h3 h4 h5 h6 th{
  font-family: 'Fanwood Text', serif;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
h1 {
  font-size: 2.5em;
  text-align: center;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 h5 h6 th {
  font-size: 1.25em;
}
footer {
  background-color: #D3D3D3;
  font-style: italic;
  padding: 10px;
  text-align: center;
}