#nav-contain {
  float: left;
  width: 100%;
  position: fixed;
  opacity: 1;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  opacity: 1;
}
#nav-bar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
h1 h2 h3 h4 h5 h6 th{
  font-family: 'Fanwood Text', serif;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
footer {
  
}