#nav-contain {
  float: left;
  width: 100%;
  position: relative;
}
#nav-bar1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar1 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar2 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar3 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
h1 h2 h3 h4 h5 h6 th{
  font-family: 'Fanwood Text', serif;
}
footer {
  font-style: italic;
  padding: 10px;
  text-align: center;
}
a {
  font-weight: bold;
  font-size: 1.65em;
}
h1 {
  font-weight: bold;
}
body {
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  font-size: 2.5em;
  text-align: center;
}
h2 {
  font-size: 1.75em;
}
h3 th {
  font-size: 1.65em;
}
h4 h5 h6 {
  font-size: 1.55em;
}
p li ul ol td {
  font-size: 1.45em;
  font-family: 'Quattrocento Sans', sans-serif;
}
audio {
  filter: hue-rotate(26deg) sepia(100%) saturate(50%) opacity(50%);
  width: 50%;
  display: block;
  padding: 20px;
  volume: 0.5;
}
