#nav-bar {
  background-color: white;
  overflow: hidden;
  opacity: 1;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  background-color: white;
}
#nav-bar ul li a:hover {
  background-color: #000;
  color: #fff;
}
#onpage {
  background-color: #808080;
  text-decoration-style: double;
}
h1 {
  top: 20%;
  left: 45%;
}
html {
  font-family: 'Fanwood Text', serif;
}
h3 {
  text-decoration: underline;
}
#skill ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}
#skill ul li {
  float: left;
  position: relative;
  right: 10%;
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
#edu {
  
}
#work {
  
}
#extra {
  
}
