#nav-bar {
  background-color: AntiqueWhite;
  overflow: hidden;
  font-family: 'Fanwood Text', serif;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color: #8B4513;
}
#onpage {
  background-color: Peru;
  text-decoration-style: double;
}
audio {
  padding: 20px;
}
td p li ul ol a {
  font-family: 'Quattrocento Sans', sans-serif;
}
#summary h2 p{
  display: block;
  overflow: hidden;
}
#summary h2:hover p:hover {
  border-width: .25em;
  border: solid;
}
html {
  background-color: AntiqueWhite;
  color: #654321;
}
#calendar img {
  width: 40%;
  filter: sepia(50%);
}
#local img {
  transform: rotate(90deg);
  height: 33%;
  filter: sepia(50%);
}
audio {
  filter: hue-rotate(26deg) sepia(100%) saturate(50%) opacity(50%);
  width: 50%;
  display: block;
  left: 50%;
  right: 50%;
}
#summary {
  border: solid Brown;
  border-width: .15em;
}