#nav-bar {
  background-color: AntiqueWhite;
  overflow: hidden;
  font-family: 'Fanwood Text', serif;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color: #8B4513;
}
#onpage {
  background-color: SandyBrown;
  text-decoration-style: double;
}
audio {
  padding: 20px;
}
td p li ul ol a {
  font-family: 'Quattrocento Sans', sans-serif;
}
#summary {
  display: block;
  overflow: hidden;
}
#summary h2:hover p:hover {
  background-color: SandyBrown;
}
html {
  background-color: AntiqueWhite;
}