#nav-bar {
  background-color: #cfe2cf;
  overflow: hidden;
  font-family: 'Fanwood Text', serif;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #20603b;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color: #20603b;
  color: #cfe2cf;
}
#onpage {
  background-color: #70a970;
  text-decoration-style: double;
  color: #20603b;
}
audio {
  padding: 20px;
}
td p li ul ol a {
  font-family: 'Quattrocento Sans', sans-serif;
}
html {
  background-color: #cfe2cf;
  color: #20603b;
}
th {
  background-color: #70a970;
}
audio {
  width: 50%;
  display: block;
  left: 50%;
  right: 50%;
  filter: hue-rotate(26deg) sepia(100%) saturate(50%) opacity(50%);
}
img {
  width: 50%;
}
h2 {
  text-decoration: underline;
}
footer {
  background-color: #70a970;
}
#equip {
  vertical-align: top;
  display: inline-block;
}
#language {
  vertical-align: top;
  display: inline-block;
  position: relative;
}
#trait {
  vertical-align: top;
  display: inline-block;
  float: right;
  position: relative;
}
#belief {
  vertical-align: top;
  display: inline-block;
}
#bkgd h2 p {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#bkgd:hover {
  border-width: .15em;
  border: solid #70a970;
}
#bonus h2 tr th td {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#bonus:hover {
  border-width: .15em;
  border: solid #70a970;
}
#fight h2 p th td tr {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#fight:hover {
  border-width: .15em;
  border: solid #70a970;
}
#equip h2 p ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#equip:hover {
  border-width: .15em;
  border: solid #70a970;
}
#language h2 p ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#language:hover {
  border-width: .15em;
  border: solid #70a970;
}
#trait h2 p ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#trait:hover {
  border-width: .15em;
  border: solid #70a970;
}
#belief h2 p ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
#belief:hover {
  border-width: .15em;
  border: solid #70a970;
}
th {
  padding: .15em;
  text-align: left;
}