#nav-bar {
  background-color: white;
  overflow: hidden;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color: #000;
  color: #fff;
}
#onpage {
  background-color: #808080;
  text-decoration-style: double;
}
audio {
  padding: 20px;
}
td p li ul ol a {
  font-family: 'Quattrocento Sans', sans-serif;
}