#nav-bar {
  background-color: white;
  overflow: hidden;
}
#onpage {
  background-color: #808080;
  text-decoration-style: double;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  background-color: white;
}
#nav-bar ul li a:hover {
  background-color: #000;
  color: #fff;
}
html {
  font-family: 'Fanwood Text', serif;
}
h3 {
  text-decoration: underline;
}
body {
  margin-left: 10%;
  margin-right: 10%;
}
h2 {
  text-align: center;
}